@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin font {
  font-weight: bold;
  font-family: verdana;
}

@mixin bg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
