body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #1c1f26;
}

.inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
  width: 100%;
  height: 90%;
}

.inner .right,
.inner .left {
  background: #1c1f26;
  height: 100%;
  width: 100%;
  background: #1c1f26;
  -webkit-box-shadow: 5px 5px 10px #0b0c0f, -5px -5px 10px #2d323d;
          box-shadow: 5px 5px 10px #0b0c0f, -5px -5px 10px #2d323d;
  border-radius: 2rem;
}

.left {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.left .top {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
}

.left .top .other {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}

.left .top .time {
  font-weight: bold;
  font-family: verdana;
  font-family: monospace;
  font-size: 15px;
}

.current {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
}

.current .chat {
  font-weight: bold;
  font-family: verdana;
  font-family: helvetica;
}

.current .profilecon {
  width: 100px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  gap: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-family: verdana;
}

.current .profilecon .img {
  width: 100px;
  height: 50px;
  position: relative;
  background: url("./1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-shadow: 5px 5px 10px #0b0d10, -5px -5px 10px #2d313c;
          box-shadow: 5px 5px 10px #0b0d10, -5px -5px 10px #2d313c;
  border-radius: 50%;
  -webkit-transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.current .profilecon .img:hover {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.current .addcon {
  color: white;
  -webkit-box-shadow: 5px 5px 10px #0b0d10, -5px -5px 10px #2d313c;
          box-shadow: 5px 5px 10px #0b0d10, -5px -5px 10px #2d313c;
  padding: 1rem;
  border-radius: 50%;
  background: #c03834;
  -webkit-transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.current .addcon:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.current .addcon:active {
  -webkit-box-shadow: inset 5px 5px 10px #0b0d10, inset -5px -5px 10px #2d313c;
          box-shadow: inset 5px 5px 10px #0b0d10, inset -5px -5px 10px #2d313c;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  font-family: verdana;
  padding: 0.2rem;
}

.search input {
  padding: 1rem;
  border: none;
  outline: none;
  width: 86%;
  background: #121416dc;
  border-radius: 2rem;
  color: white;
  -webkit-transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.search input:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.search input:active {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.contactlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  scroll-behavior: smooth;
  overflow-y: scroll;
  height: 65%;
}

::-webkit-scrollbar {
  display: none;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #363940;
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.contacts .pleft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1rem;
  color: white;
}

.contacts .pleft .profile {
  width: 50px;
  height: 50px;
  background: url(./1.jpg);
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-shadow: 5px 5px 10px #0b0d10, -5px -5px 10px #2d313c;
          box-shadow: 5px 5px 10px #0b0d10, -5px -5px 10px #2d313c;
  -webkit-transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.contacts .pleft .profile:hover {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.contacts .pleft .ptext .one {
  font-weight: bold;
  font-family: verdana;
  color: rgba(255, 255, 255, 0.911);
  font-size: 14px;
  font-family: helvetica;
}

.contacts .pleft .ptext .two {
  font-family: helvetica;
  font-size: 11px;
  color: rgba(255, 255, 255, 0.61);
}

.contacts:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.8rem;
  font-family: monospace;
}

.count .counttop {
  color: #c03834;
  font-weight: bold;
  font-family: verdana;
  font-family: monospace;
  font-size: 13px;
}

.count .countbottom {
  background: #c03834;
  color: white;
  -webkit-box-shadow: 5px 5px 10px #0b0d10, -5px -5px 10px #2d313c;
          box-shadow: 5px 5px 10px #0b0d10, -5px -5px 10px #2d313c;
  border-radius: 50%;
  padding: 0.5rem;
  -webkit-transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.count .countbottom:hover {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.bar {
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: absolute;
  bottom: 1rem;
  width: 88%;
  left: 1.25rem;
}

.bar .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  background: #1c1f26;
  -webkit-box-shadow: 5px 5px 7px #0b0d10, -5px -5px 7px #2d313c;
          box-shadow: 5px 5px 7px #0b0d10, -5px -5px 7px #2d313c;
  padding: 0.6rem;
  border-radius: 2rem;
  color: white;
}

.bar .socials .chat {
  font-size: 1.3rem;
  border-radius: 50%;
  background: #1c1f26;
  -webkit-box-shadow: 5px 5px 7px #0b0d10, -5px -5px 7px #2d313c;
          box-shadow: 5px 5px 7px #0b0d10, -5px -5px 7px #2d313c;
  padding: 1rem;
  -webkit-transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.bar .socials .chat:hover {
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
  color: #c03834;
}

.bar .socials .chat:active {
  -webkit-box-shadow: inset 5px 5px 10px #0b0d10, inset -5px -5px 10px #2d313c;
          box-shadow: inset 5px 5px 10px #0b0d10, inset -5px -5px 10px #2d313c;
}

.bar .underbar {
  width: 40%;
  background: rgba(255, 255, 255, 0.514);
  height: 5px;
  border-radius: 2rem;
  margin-top: 1rem;
}

.toggler {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  bottom: -0.5rem;
  right: -0.5rem;
  background: #1c1f26;
  -webkit-box-shadow: 5px 5px 7px #0b0d10, -5px -5px 7px #2d313c;
          box-shadow: 5px 5px 7px #0b0d10, -5px -5px 7px #2d313c;
  -webkit-transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.toggler:active {
  -webkit-box-shadow: inset 5px 5px 10px #0b0d10, inset -5px -5px 10px #2d313c;
          box-shadow: inset 5px 5px 10px #0b0d10, inset -5px -5px 10px #2d313c;
}

.badremover {
  display: none;
}

.leftcurrent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
  gap: 1rem;
}

.leftcurrent .leftaddcon {
  color: #c03834;
  -webkit-box-shadow: 5px 5px 10px #0b0d10, -5px -5px 10px #2d313c;
          box-shadow: 5px 5px 10px #0b0d10, -5px -5px 10px #2d313c;
  padding: 1rem;
  border-radius: 50%;
  -webkit-transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.leftcurrent .leftaddcon:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.leftcurrent .leftaddcon:active {
  -webkit-box-shadow: inset 5px 5px 10px #0b0d10, inset -5px -5px 10px #2d313c;
          box-shadow: inset 5px 5px 10px #0b0d10, inset -5px -5px 10px #2d313c;
}

.leftcurrent .chat {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-weight: bold;
  font-family: verdana;
  font-family: helvetica;
}

.leftcurrent .chat .leftn {
  font-size: 16px;
  width: 100%;
}

.leftcurrent .chat .lefts {
  font-size: 11px;
  width: 100%;
}

.leftcurrent .profilecon {
  width: 100px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  gap: 1rem;
  font-weight: bold;
  font-family: verdana;
}

.leftcurrent .profilecon .img {
  width: 50px;
  height: 50px;
  position: relative;
  background: url("./1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-shadow: 5px 5px 10px #0b0d10, -5px -5px 10px #2d313c;
          box-shadow: 5px 5px 10px #0b0d10, -5px -5px 10px #2d313c;
  border-radius: 50%;
  -webkit-transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.leftcurrent .profilecon .img:hover {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.leftcurrent .addcon {
  color: white;
  -webkit-box-shadow: 5px 5px 10px #0b0d10, -5px -5px 10px #2d313c;
          box-shadow: 5px 5px 10px #0b0d10, -5px -5px 10px #2d313c;
  padding: 1rem;
  border-radius: 50%;
  background: #c03834;
  -webkit-transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.leftcurrent .addcon:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.leftcurrent .addcon:active {
  -webkit-box-shadow: inset 5px 5px 10px #0b0d10, inset -5px -5px 10px #2d313c;
          box-shadow: inset 5px 5px 10px #0b0d10, inset -5px -5px 10px #2d313c;
}

.today {
  font-weight: bold;
  font-family: verdana;
  text-align: center;
  color: rgba(255, 255, 255, 0.829);
  font-family: helvetica;
  font-size: 12px;
}

.chathistory {
  margin-top: 1rem;
  height: 100%;
  width: 100%;
  overflow: scroll;
}

.chathistory .guest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 1rem;
  position: relative;
  left: 2.8rem;
  background: #c03834;
  color: white;
  max-width: 70%;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  padding: 1rem;
  font-weight: bold;
  font-family: verdana;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: helvetica;
  font-size: 14px;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}

.chathistory .guest:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.chathistory .guest .time {
  font-size: 11px;
}

.chathistory .host {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 1rem;
  position: relative;
  left: 1rem;
  background: #121416dc;
  color: white;
  max-width: 70%;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 3rem;
  padding: 1rem;
  font-weight: bold;
  font-family: verdana;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: helvetica;
  font-size: 14px;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}

.chathistory .host:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.chathistory .host .time {
  font-size: 11px;
}

.typemessage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}

.typemessage .in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 2.5rem;
}

.typemessage .in .record {
  border-radius: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #c03834;
  padding: 5px;
  -webkit-box-shadow: 5px 5px 10px #0b0d10, -5px -5px 10px #2d313c;
          box-shadow: 5px 5px 10px #0b0d10, -5px -5px 10px #2d313c;
  width: 2.2rem;
  margin-left: 0.4rem;
}

.typemessage .in .record:active {
  -webkit-box-shadow: inset 5px 5px 10px #0b0d10, inset -5px -5px 10px #2d313c;
          box-shadow: inset 5px 5px 10px #0b0d10, inset -5px -5px 10px #2d313c;
}

.typemessage .in .box {
  padding-left: 10px;
  padding-right: 10px;
  gap: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  background: #1c1f26;
  outline: none;
  border-radius: 2rem;
  background: #1c1f26;
  -webkit-box-shadow: inset 5px 5px 10px #0b0c0f, inset -5px -5px 10px #2d323d;
          box-shadow: inset 5px 5px 10px #0b0c0f, inset -5px -5px 10px #2d323d;
  -webkit-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.typemessage .in .box input {
  height: 100%;
  outline: none;
  background: none;
  border: none;
  color: white;
}

.typemessage .in .box .imogi {
  color: #c03834;
  -webkit-transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.typemessage .in .box .imogi:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.typemessage .in .box:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.typemessage .underbar {
  width: 40%;
  background: rgba(255, 255, 255, 0.514);
  height: 5px;
  border-radius: 2rem;
  margin-top: 1rem;
}

.ra {
  width: 350px !important;
}

.la {
  width: 350px !important;
}
/*# sourceMappingURL=style.css.map */